@import "tailwindcss";



@layer utilities{
    .text-shadow{
        text-shadow: 2px 2px 2px #1128015b;
    }
.img-shadow{
    filter: drop-shadow(40px 50px 25px #300000eb);
}
.img-shadow2{
    filter: drop-shadow(40px 50px 25px #300000eb);
}

    .primary-button{
        @apply border border-white px-4 py-2 rounded-lg;
 
    }
    .container{
        align-items: center;

    }
}
